@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
 }
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #001931;
  --color-secondary: teal;
}

.bg-gradient{
  @apply bg-linear-to-r from-[#632EE3] to-[#9F62F2];
}

.text-gradient{
  @apply bg-linear-to-r from-[#632EE3] to-[#9F62F2] bg-clip-text text-transparent;
}

nav ul a.active{
  @apply bg-linear-to-r from-[#632EE3] to-[#9F62F2] bg-clip-text text-transparent;
}